@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Russo+One&display=swap');


:root {
    --primary-color-text: #656843;
    --primary-color-headlines: #ccbeae;
    --primary-color-buttons: #eee8e4;
    --primary-color-background: #f5f1ef;
    --primari-color-text-dark: #40443f;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}


.container {
    width: 100%;
    color: var(--primary-color-text);
    background-color: var(--primary-color-background);
}

.menu {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}   

.page-menu {
    justify-self: end;
}

.hamburger {
    display: flex;
    flex-direction: column;
    width: 65px;
    height: 58px;
    justify-content: space-around;
    align-items: center;
    border: 3px solid var(--primary-color-headlines);
    border-radius: 10px;
    background-color: var(--primary-color-buttons);
    margin: 15px;
    transition: box-shadow 0.5s ease-in-out;
}

.hamburger:hover {
    box-shadow: 10px 10px 20px #a1a29d;
}

.line {
    width: 39px;
    height: 5px;
    background-color: var(--primary-color-headlines);
    border-radius: 10px;
    margin: 6px 0;
}

.profile {
 text-align: center;
}

.profile-image img {
    display: inline-block;
    width: 171px;
    height: 171px;
    border-radius: 50%;
    object-fit: cover;
    margin: 20px;
}

.logo-span {
    display: inline-block;
    margin: 25px;
    font-family: "Roboto", sans-serif;
    font-weight:900;
    font-size: 32px;
    color: var(--primary-color-headlines);
}

hr {
    width: 151px;
    height: 12px;
    border-radius: 7px;
    background-color: var(--primary-color-headlines);
    margin: 0 auto;
    border: none;
}

.headline h3 {
    font-family: "Russo One", sans-serif;
    font-size: 32px;
    text-align: center;
    color: var(--primary-color-headlines);
    margin: 0;
}

.frame {
    width: 100%;
    text-align: center;
}

.frame img {
    display: inline-block;
    width: 296px;
    height: 165px;
    object-fit: cover;
    margin: 22px;
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.frame img:hover {
    transform: scale(1.1);
    box-shadow: 10px 10px 10px #a1a29d;
}

.my-clients {
    width: 100%;;
}

.card {
    width: 100%;
    text-align: center;
    margin-top: 19px;
}

.card h4 {
    font-family: "Russo One", sans-serif;
    font-size: 24px;
    color: var(--primari-color-text-dark);
    margin: 0;
}

.card span {
    display: inline-block;
    font-size: 18px;
    background-color: var(--primary-color-headlines);
    color: var(--primari-color-text-dark);
    opacity: 0,5;
    padding: 4px;
    margin-bottom: 5px;

}

.card p {
    margin: 15px;
}

.contact {
    width: 100%;
    text-align: center;
    padding-top: 32px;
}

.contact button {
    width: 187px;
    height: 40px;
    border: none;
    text-transform: uppercase;
    font-size: 24px;
    background-color: var(--primary-color-buttons);
    padding: 15px 51 px;
    color: var(--primary-color-headlines);
    margin: 32px;
    transition: box-shadow 0.5s ease-in-out;
}

.contact button:hover {
    transform: scale(1.1);
    box-shadow: 8px 8px 20px #a1a29d;
}

.social-media {
    width: 100%;
    text-align: center;
    padding-top: 48px;
}

.social-media-icons ul {
    list-style: none;
    padding: 0;
}

.social-media-icons ul li {
    display: inline-block;
    margin: 19px;
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;    
}

.social-media-icons ul li:hover {
    transform: scale(1.1);
    box-shadow: 8px 8px 30px #dddbdb;
}

footer {
    text-align: center;
    padding-top: 48px;
}

.menu-list {
    display: none;
}

.profile-learn-more {
    display: none;
}

.my-works-intro {
    display: none;
}

.gallery {
    display: none;
}

.contact-form {
    display: none;
}

.contact-details {
    display: none;
}

.contact-me-headline {
    display: none;
}

.contact-intro {
    display: none;
}



@media (min-width: 600px) and (max-width: 1024px) {
    
    .hamburger {
        display: none;
    }

    .menu {
        grid-template-columns: 1fr 2fr;
        align-items: center;
        box-sizing: border-box;
        padding-right: 24px;
    }

    .menu-list {
        display: block;
    }

    .menu-list ul {
        list-style: none;
        padding: 0;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 700;
        color: var(--primari-color-text-dark);
    }

    .menu-list ul li {
        display: inline-block;
        margin-right: 15px;
    }

    .menu-list ul li a {
        display: inline-block;
        text-decoration: none;
        color: var(--primari-color-text-dark);
        transition: transform 0.5s ease-in-out, text-shadow 0.5s ease-in-out;
    }

    .menu-list ul li a:hover {
        transform: scale(1.2);
        text-shadow: 3px 3px 1px #a1a29d;
    }

    .profile {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .profile-image img {
        width: 264px;
        height: 264px;
    }
    
    .profile-learn-more {
        display: grid;
        align-items: center;
        justify-content: start;
    }

    .profile-details span {
        font-size: 36px;
        width: 284px;
        display: block;
        text-align: start;
        margin-left: 24px;
        font-weight: 300;
    }
    
    .profile-details button {
        display: block;
        background-color: var(--primary-color-buttons);
        color: var(--primary-color-headlines);
        font-size: 24px;
        width: 251px;
        padding: 12px 20px;
        border: none;
        margin-left: 24px;
        margin-top: 10px;
        border-radius: 10px;
        transition: box-shadow 0.5s ease-in-out;
    }

    .profile-details button:hover {
        box-shadow: 8px 8px 20px #a1a29d;
    }

    .my-works .frame {
        display: none;
    }

    hr {
        margin-left: 32px;
    }

    .headline h3 {
        text-align: start;
        padding-left: 32px;
    }

    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, auto);
        gap: 10px;
        margin-top: 32px;
    }

    .gallery-item {
        text-align: center;
    }

    .gallery-item img {
        height: 210px;
        width: 377px;
        object-fit: cover;
        transition: transform 0.5s ease-in-out , box-shadow 0.5s ease-in-out;
    }

    .gallery-item img:hover {
        transform: scale(1.1);
        box-shadow: 10px 10px 10px #a1a29d;
    }    

    .my-clients {
        margin-top: 48px;
    }

    .my-clients p {
        width: 345px;
        margin: 15px auto;
    }

    .card {
        margin-top: 48px;
    }

    .btn-button {
        display: none;
    }

    .contact-me-headline {
        display: block;
    }

    .contact-intro {
        display: block;
        width: 100%;
    }

    .contact-intro p {
        display: block;
        width: 443px;
        text-align: start;
        margin-left: 32px;
    }

    .contact-form {
        display: block;
        width:100%;
        font-size: 20px;
    }

    .contact-form form {
        text-align: start;
        box-sizing: border-box;
        padding: 32px;
    }

    input, textarea {
        width: 100%;
        background-color: var(--primary-color-buttons);
        border: none;
    } 
    input {
        height: 34px;
    }

    input:focus, textarea:focus {
        outline: none;
        box-sizing: border-box;
        border-top: 2px solid var(--primary-color-headlines);
        border-left: 2px solid var(--primary-color-headlines);
    }

    .contact-form button {
        width: 200px;
        height: 50px;
        background-color: var(--primary-color-headlines);
        color: var(--primary-color-background);
        text-transform: none;
        margin-left: 0;
        transition: box-shadow 0.5s ease-in-out, transform 0.5s ease-in-out;
    }

    .contact-form button:hover {
        transform: scale(1.1);
        box-shadow: 8px 8px 20px #a1a29d;
    }

    .contact-details {
        display: block;
        width: 100%;
    }

    .contact-details ul {
        list-style: none;
        padding: 0;
        text-align: start;
        margin-left: 32px;
        font-size: 20px;
    }

    .social-media-icons ul {
        text-align: start;
    }

    .social-media-icons ul li {
        margin-left: 20px;
    }

}




    
@media (min-width: 1025px) {

    .hamburger {
        display: none;
    }

    .menu {
        grid-template-columns: 1fr 2fr;
    }

    .menu-list {
        display: block;
        box-sizing: border-box;
        padding: 16px;
    }

    .menu-list ul {
        list-style: none;
        padding: 0;
        text-transform: uppercase;
        font-size: 28px;
        font-weight: 700;
        color: var(--primari-color-text-dark);
    }

    .menu-list ul li {
        display: inline-block;
        margin-right: 20px;
    }

    .menu-list ul li a {
        display: inline-block;
        text-decoration: none;
        color: var(--primari-color-text-dark);
        transition: transform 0.5s ease-in-out, text-shadow 0.5s ease-in-out;
    }

    .menu-list ul li a:hover {
        transform: scale(1.2);
        text-shadow: 3px 3px 1px #a1a29d;
    }

    .logo-span {
    font-size: 48px;
}


    .profile {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .profile-image img {
        width: 600px;
        height: 600px;
    }
    
    .profile-learn-more {
        display: grid;
        align-items: end;
        justify-content: center;
    }

    .profile-details {
        margin-bottom: 64px;
    }

    .profile-details span {
        font-size: 36px;
        width: 284px;
        display: block;
        text-align: start;
        font-weight: 300;
    }
    
    .profile-details button {
        display: block;
        background-color: var(--primary-color-buttons);
        color: var(--primary-color-headlines);
        font-size: 32px;
        width: 316px;
        height: 94px;
        padding: 12px 20px;
        border: none;
        margin-top: 10px;
        border-radius: 10px;
        transition: box-shadow 0.5s ease-in-out;
    }

    .profile-details button:hover {
        box-shadow: 8px 8px 20px #a1a29d;
    }

    hr {
        width: 318px;
        height: 15px;
        margin-left: 32px;
    }

    .headline h3 {
        font-size: 64px;
        text-align: start;
        margin-left: 32px;
    }

    .frame {
        display: none;
    }

    .btn-button {
        display: none;
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 18px;
        margin: 32px auto;
    }

    .gallery-item {
        text-align: center;
    }

    .gallery-item img {
        height: 305px;
        width: 453px;
        object-fit: cover;
        transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    }

    .gallery-item img:hover {
        transform: scale(1.1);
        box-shadow: 10px 10px 10px #a1a29d;
    }

    .my-works-intro {
        width: 923px;
        margin-left: 32px;
    }

    .card {
        display: grid;
        grid-template-columns: 1fr 2fr;
        width: 95%;
        margin: 48px auto;
        border: 2px solid #77777749;
        padding: 32px;
    }

    .card h4 {
        font-family: "Russo One", sans-serif;
        font-size: 24px;
        color: var(--primari-color-text-dark);
        margin: 0;
    }

    .card span {
        display: inline-block;
        font-size: 18px;
        background-color: var(--primary-color-headlines);
        color: var(--primari-color-text-dark);
        opacity: 0,5;
        padding: 4px;
        margin-bottom: 5px;
    }

    .card p {
        margin: 0;
    }

    .card-image img {
        height: 163px;
        width: 216px;
    }

    .card-text-content {
        text-align: start;
        box-sizing: border-box;
        padding-right: 64px;
    }

    .role-description {
        display: inline-block;
        margin: 24px 0;
        margin-right: 16px;
    }

    .get-in-touch {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, auto);
    }

    .contact-form {
        display: block;
        width:100%;
        font-size: 20px;
        grid-column: 1/2;
        grid-row: 1/3;
    }

    .contact-form form {
        text-align: start;
        box-sizing: border-box;
        padding: 32px;
    }

    input, textarea {
        width: 100%;
        background-color: var(--primary-color-buttons);
        border: none;
    } 

    input {
        height: 34px;
        margin-bottom: 24px;
    }

    input:focus, textarea:focus {
        outline: none;
        box-sizing: border-box;
        border-top: 2px solid var(--primary-color-headlines);
        border-left: 2px solid var(--primary-color-headlines);
    }

    .contact-form button {
        width: 200px;
        height: 50px;
        background-color: var(--primary-color-headlines);
        color: var(--primary-color-background);
        text-transform: none;
        margin-left: 0;
        transition: box-shadow 0.5s ease-in-out, transform 0.5s ease-in-out;
    }

    .contact-form button:hover {
        transform: scale(1.1);
        box-shadow: 8px 8px 20px #a1a29d;
    }

    .social-media {
        grid-column: 2/3;
        grid-row: 2/3;
        text-align: start;
        box-sizing: border-box;
        padding: 32px;
    }

    .social-media h3 {
        font-size: 40px;
        margin-left: 0;
    }

    .contact-me-headline {
        display: block;
    }

    .contact-intro {
        display: block;
        width: 923px;
        text-align: start;
        margin-left: 32px;
    }

    .contact-details {
        display: block;
        text-align: start;
        font-size: 24px;
        grid-column: 2/3;
        grid-row: 1/2;
        box-sizing: border-box;
        padding: 32px;
    }

    .contact-details ul {
        list-style: none;
        padding: 0;
    }

    .contact-details ul li {
        margin-bottom: 24px;
    }

    .social-media-icons ul {
        list-style: none;
        padding: o;
    }

}